<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>区分要素を用いたテンプレート</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>ページの見出し</h1>
            <nav>
                <ul>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <h2>セクションの見出し</h2>
                <article>
                    <h3>記事の見出し</h3>
                    <p>記事の内容</p>
                </article>
                <article>
                    <h3>記事の見出し</h3>
                    <p>記事の内容</p>
                </article>
            </section>
        </main>
        <aside>
            <ul>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>
        </aside>
        <footer>
            <p>copyright</p>
        </footer>
    </div>
</body>
</html>
