@charset "utf-8";

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

p {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid black;
    margin: 10px;
}
